/* 
	COLORS
 */

/* Backgrounds */
$bkg1: #080d29;
$bkg2: #2c3159;
$bkg3: #2d4a79;
$bkg4: #1792a7;
$bkg5: #e59883;
$bkg6: #fdab8d;
$bkg7: #f9c7b4;
$bkg8: #4fbe9f;
$bkg9: #1794a0;
$bkg10: #2d4a79;
$bkg11: red;
$bkg12: #8387a5;
$bkg13: #134ea2;

/*  text */
$dark-text: #1792a7;
$light-text: #fff;

$recurse: #3dc06c;

/* buttons */
$light-btn: #1792a7;
$dark-btn: #080d29;

/* inputs */
$border-color: #bce0fd;

/*  FONTS */

/* families */
$titles: "Roboto Slab", serif;
$body: "Roboto", sans-serif;

/*  sizes */
$body-size: 2.4rem;
$xl: 5.6rem;
$lg: 4.4rem;
$md: 3.4rem;
$sm: 1.6rem;
