.c-people-list {

    color: $dark-text;
    font-family: $body;
    font-size: $body-size;
    line-height: 2;

    ul {
        background-color: $light-text;
    }

    span {
        padding: 10px;
    }

    label {
        color: $light-text;
    }
}
