.u-bkg1 {
	background-color: $bkg1;
}

.u-bkg2 {
	background-color: $bkg2;
}

.u-bkg3 {
	background-color: $bkg3;
}

.u-bkg4 {
	background-color: $bkg4;
}

.u-bkg5 {
	background-color: $bkg5;
}

.u-bkg6 {
	background-color: $bkg6;
}

.u-bkg7 {
	background-color: $bkg7;
}

.u-bkg8 {
	background-color: $bkg8;
}

.u-bkg9 {
	background-color: $bkg9;
}

.u-bkg10 {
	background-color: $bkg10;
}


.u-bkg12 {
	background-color: $bkg12;
}

.u-bkg13 {
	background-color: $bkg13;
}

