.u-align-center {
  text-align: center;
}

.u-text-dark {
  color: $dark-text;
}

.u-text-red {
  color: $bkg11;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-underline {
  text-decoration: underline;
}

.u-text-italicize {
  font-style: italic;
}